*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

html{   
    background-color: gray;
}

.flex{ 
    display: flex;
}

/* inizio navigatore header */
.navigatore{
    position: fixed;
    background-color: rgb(0, 0, 0);
    width: 100%;
    align-items: center;
}

header{   
    height: 50px;
    justify-content: flex-end;
    top: 0;
    z-index: 1;
}


.header-nav{
    background-color: rgb(68, 68, 68);
    border-radius: 2px;
    height: 25px;
    padding: 0px 8px;
    margin: 0px 5px;
    justify-content: center;
    align-items: center;
}

.fa-expand-arrows-alt, .fa-chevron-up{
    font-size: 10px;
}

.little-text{
    font-size: 10px;
}

.header-nav span{
    padding-left: 5px;
}
/* fine navigatore header */



/* inizio main */

main{
    width: 90%;
    margin: auto;
    flex-flow: row wrap;
    justify-content: center;
    padding: 60px 0px 110px 0px;
}
.profile{
    width: 300px;
    height: 200px;
    position: relative;
    margin: 3px;
}

.mainbox{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(43, 43, 43);
    opacity: 0.8;
    color: white;
    font-size: 13px;
    padding: 7px 10px;
}
/* fine main */



/* inizio navigatore footer */
footer{
    height: 100px;
    justify-content: space-between;
    bottom: 0;
    z-index: 1;
}

footer span{
    font-size: 13px;
}

[class*="footernav"]{
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footernav1{
    margin-left: 15px;
}

.column{
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.fa-footer{
    font-size: 30px;
    padding-bottom: 7px;
}

.fa-share-square{
    color: greenyellow;
}

.footernav3{
    height: 100%;
    padding: 0px 30px;
    background-color: rgb(68, 68, 68);
}

.footernav3 span{
    color: red;
}
